/* Variables */

:root {
  --brand-primary-color: #683292;
  --brand-secondary-color: #f83d8e;
  --text-primary-color: #0f0200;
  --text-primary-color-hover: #f83d8e;
  --text-secondary-color: #646464;
  --background-primary-color: linear-gradient(
    90deg,
    #ceaece 0%,
    #f7e9f7 10%,
    #ffffff 20%,
    #ffffff 60%,
    #c8d2db 60%,
    #faf8f6 80%,
    #faf3ef 100%
  );
  --background-header-color: linear-gradient(
    90deg,
    #eee0ef 0%,
    #f0e6f2 25%,
    #f2edf5 50%,
    #f3f1f5 70%,
    #f5efeb 100%
  );
  --header-bottom-shadow: 0px 4px 20px rgba(104, 50, 146, 0.08);
  --button-primary-color: #683292;
  --button-secondary-color: #f83d8e;
  --button-primary-color-hover: #ffffff;
  --button-secondary-color-hover: ##ffffff;
  --icons-bg-color: #e6ddea;
  --icons-bg-color-hover: #e2cfee;
  --footee-icons-bg-color: #ffffff26;
  --footer-icons-bg-color-hover: #ffffff1a;
  --shadow-sign-up: 0px 3px 16px 2px rgba(248, 61, 142, 0.24);
  --shadow-browse: 0px 3px 16px 2px rgba(104, 50, 146, 0.24);
  --shadow-read-more: 0px 3px 16px 2px rgba(248, 61, 142, 0.1);
  --shadow-product-card-container: inset 0px 2px 50px 2px rgba(0, 0, 0, 0.07);
  --font-family-primary: "Berkshire Swash", serif;
  --font-family-secondary: "Archivo", sans-serif;
  --footer-primary-text-color: #ffffff;
  --footer-secondary-text-color: #cfb6e2;
}

.dark {
  /* Brand */
  --brand-primary-color: #4a235a;
  --brand-secondary-color: #9b3f78;

  /* Product / Cards */
  --product-container: #151317;

  /* Text */
  --text-primary-color: #e6e1e8;
  --text-primary-color-hover: #c45a9a;
  --text-secondary-color: #858087;

  /* Background */
  --background-primary-color: #080709;

  /* Header */
  --background-header-color: #16101a;

  --header-bottom-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);

  /* Buttons */
  --button-primary-color: #4a235a;
  --button-secondary-color: #9b3f78;
  --button-primary-color-hover: #e6e1e8;
  --button-secondary-color-hover: #e6e1e8;

  /* Icons */
  --icons-bg-color: #9b3f78;

  /* Footer Icons */
  --footer-icons-bg-color: #ffffff10;
  --footer-icons-bg-color-hover: #ffffff18;

  /* Shadows */
  --shadow-sign-up: 0 4px 18px rgba(155, 63, 120, 0.16);
  --shadow-browse: 0 4px 18px rgba(155, 63, 120, 0.16);
  --shadow-read-more: 0 4px 18px rgba(155, 63, 120, 0.08);

  --shadow-product-card-container: inset 0 2px 40px rgba(0, 0, 0, 0.75);

  /* Footer */
  --footer-primary-text-color: #e6e1e8;
  --footer-secondary-text-color: #858087;
}

/* main  */
/* about us section  */

.about-us-section {
  margin-bottom: 6.25rem;
}

.section-heading {
  margin: 3.12rem 0;
  padding-inline: 1.5rem;
}

.section-heading h2 {
  text-align: center;
  font-family: var(--font-family-primary);
  font-size: 3.2rem; 
  font-weight: normal;
  color: var(--text-primary-color);
}

.about-mission-banner {
  width: min(1520px, 100%);
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  background-color: var(--brand-primary-color);
}

.about-content-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 10rem;
  gap: 1.87rem;
  width: 45%;
  padding-left: 5rem;
}

.banner-right-image {
  display: flex;
  justify-content: flex-end;
  width: 55%;
}
.banner-right-image img {
  width: 100%;
  display: block;
}

.about-content-text h3 {
  font-family: var(--font-family-primary);
  font-size: 2.5rem;
  font-weight: normal;
  color: #ffffff;
  line-height: 2.5rem;
}

.about-content-text p {
  font-family: var(--font-family-secondary);
  font-size: 1rem;
  color: #ffffff;
  line-height: 1.37rem;
  font-weight: normal;
}

.about-content-text button {
  background-color: var(--brand-secondary-color);
  padding: 0.75rem 2.12rem;
  border-radius: 2.5rem;
  font-family: var(--font-family-secondary);
  color: #ffffff;
  font-size: 0.8rem;
  font-weight: bold;
  border: none;
  box-shadow: var(--shadow-sign-up);
  transition: all 0.1s ease-in-out;
}

button i {
  padding-left: 0.31rem;
  transition: all 0.2s ease-in-out;
}

/* banner button hover  */
.about-content-text button:hover {
  background-color: #632791;

  i {
    padding-left: 0.85rem;
  }
}

/* main stats section  */

.stats-section {
  padding-bottom: 3.75rem;
  padding-inline: 1.5rem;
}

.stats-section .stats-title {
  text-align: center;
}

.stats-title h3 {
  font-family: var(--font-family-primary);
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 4.75rem;
  color: var(--text-primary-color);
}

.stats-title h3 span {
  color: var(--brand-secondary-color);
}

.stats-title p {
  font-family: var(--font-family-secondary);
  font-size: 1rem;
  color: var(--text-secondary-color);
}

.stats-container {
  width: min(1020px, 100%);
  display: flex;
  justify-content: center;
  margin-inline: auto;
  gap: 1.25rem;
  margin-top: 3.75rem;
  padding-bottom: 3.12rem;
  flex-wrap: wrap;
}

.stats-card {
  width: 12.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.93rem;
  border-radius: 0.75rem;
  background-color: #ffffff;
  padding: 1.87rem 1.25rem;
  border-bottom: 2px solid var(--brand-secondary-color);
}

.stats-card span {
  font-family: var(--font-family-primary);
  font-size: 2rem;
}

.stats-card span sup {
  color: var(--brand-secondary-color);
}

.stats-card p {
  font-family: var(--font-family-secondary);
  font-size: 0.7rem;
  line-height: 0.87rem;
  color: var(--text-secondary-color);
}

/* main */
/* team section  */

.team-section {
  padding-top: 3.75rem;
  padding-inline: 1.5rem;
}

.team-section .team-title {
  text-align: center;
}

.team-title h3 {
  font-family: var(--font-family-primary);
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 4.75rem;
  color: var(--text-primary-color);
}

.team-title h3 span {
  color: var(--brand-secondary-color);
}

.team-title p {
  font-family: var(--font-family-secondary);
  font-size: 1rem;
  color: var(--text-secondary-color);
}

.team-members {
  width: min(1520px, 100%);
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.12rem;
  margin-top: 3.12rem;
  flex-wrap: wrap;
}

.member {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.member img {
  width: 14rem;
  height: 14rem;
}

.member-info {
  text-align: center;
}

.member span {
  margin-top: 1.25rem;
  display: inline-block;
  font-family: var(--font-family-secondary);
  color: var(--text-primary-color);
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 5px;
}
.member p {
  font-family: var(--font-family-secondary);
  color: var(--text-secondary-color);
  font-weight: normal;
  font-size: 0.9rem;
  margin-bottom: 0.625rem;
}

.social-links {
  margin-top: 0.5rem;
  display: flex;
  gap: 0.625rem;
}
.social-links a {
  border-radius: 50%;
  width: 2.2rem;
  height: 2.2rem;
  background-color: var(--brand-secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: background-color 0.1s ease-in-out;
}

/* secial links icon hover effect  */
.social-links a:hover {
  background-color: var(--brand-primary-color);
}

.social-links i {
  font-size: 0.8rem;
  color: #ffffff;
}
