


@media screen and (min-width: 1280px) {
  html {
    font-size: 100%;
  }

  .hero-container {
    padding-inline: 60px;
  }
}
@media screen and (max-width: 1225px) {
  html {
    font-size: 90%;
  }
}
@media screen and (max-width: 1022px) {
  html {
    font-size: 85%;
  }
}
@media screen and (max-width: 900px) {
  html {
    font-size: 115%;
  }

  header .navbar {
    padding-inline: 2vw;
  }

  .navbar .logo-container .nav-toggle {
    display: inline-block;
  }

  .nav-container {
    position: absolute;
    top: 100%;
    left: -100%;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    transition: left 0.4s ease-in-out;
  }

  .nav-container ul {
    flex-direction: column;
    gap: 0.85rem;
    padding: 1.4rem 0;
  }
  .nav-container ul li a {
    color: #0f0200;
    padding: 0 0;
  }

  .onclick {
    left: 0px;
  }

  .hero-section {
    margin-top: 2rem;
  }

  .hero-container {
    flex-direction: column;
    gap: 3rem;
  }

  .section1-heading {
    width: 100%;
  }

  /* hero section image  */
  .right-hero-product-image {
    width: 100%;
  }

  /* offer banner section  */
  .offer-banner {
    flex-direction: column;
    gap: 3rem;
    /* padding:40px 40px 10px 40px; */
  }

  /* offer text  */
  .center-content {
    width: 100%;
  }

  /* offer product image  */
  .offer-product-left-image {
    width: 100%;
  }

  .offer-product-right-image {
    width: 100%;
  }

  .offer-product-right-image img {
    width: 100%;
  }

  .customers-reviews-container {
    margin-inline: 20px;
    background-position: top 80px center;
    background-size: 30% auto;
  }

  .testimonial-card {
    margin-inline: 10px;
  }
  .customers-reviews-container img {
    width: 4.25rem;
  }
  .left-customers-images div {
    position: static;
    margin: 2rem 0;
  }
  .right-customers-images div {
    position: static;
    margin: 2rem 0;
  }

  /* About us banner */

  .about-mission-banner {
    flex-direction: column;
    gap: 3rem;
    padding-top: 1.5rem;
  }

  .about-content-text {
    width: 100%;
  }

  /* hero section image  */
  .banner-right-image {
    width: 100%;
  }
  .banner-right-image img {
    width: 80%;
  }

  .about-content-text {
    padding-inline: 1.5rem;
    gap: 1rem;
  }
}

@media screen and (max-width: 800px) {
  html {
    font-size: 105%;
  }

  header .navbar {
    padding-inline: 1.5rem;
  }
}


@media screen and (max-width: 658px) {
  html {
    font-size: 100%;
  }

  .nav-container ul li a {
    font-size: 1rem;
  }

  .banner-right-image img {
    width: 90%;
    min-width: 300px;
  }

}
@media screen and (max-width: 534px) {
  html {
    font-size: 90%;
  }

  .nav-container ul li a {
    font-size: 1rem;
  }
  .searct-cart-container {
    margin: 0 1rem 0 1rem;
}

.signup .signup-btn {
    padding: 0.7rem 1.2rem;
    border-radius: 2.5rem;
    font-size: 0.8rem;
}

.signup .signup-btn i {
    padding-left: 0.21rem;
    transition: all 0.2s ease-in-out;
}

}
@media screen and (max-width: 422px) {
  html {
    font-size: 85%;
  }

  .nav-container ul li a {
    font-size: 1rem;
  }
  .searct-cart-container {
    margin: 0 1rem 0 1rem;
}
.signup .signup-btn i {
   display: none;
}

}
@media screen and (max-width: 422px) {
  html {
    font-size: 80%;
  }

}
@media screen and (max-width: 362px) {
  html {
    font-size: 50%;
  }

}
@media screen and (max-width: 204px) {
  html {
    font-size: 50%;
  }
  body {
  overflow-x: hidden;
  }

}