* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  background-color: #fff;
}

/* Variables */

:root {
  --brand-primary-color: #683292;
  --brand-secondary-color: #f83d8e;
  --text-primary-color: #0f0200;
  --text-secondary-color: #646464;
  --background-primary-color: linear-gradient(
    to right,
    #efd7ef 8%,
    #f5f9fc 40%,
    #f8eae1 66%,
    #eaf8f9 91%
  );
  --background-secondary-color: #f5f5f5;
  --button-primary-color: #683292;
  --button-secondary-color: #f83d8e;
  --button-primary-color-hover: #ffffff;
  --button-secondary-color-hover: ##ffffff;
  --icons-bg-color: #ffffff26;
  --icons-bg-color-hover: #ffffff1a;
  --shadow-sign-up: 0px 3px 22px 3px rgba(248, 61, 142, 0.31);
  --shadow-browse: 0px 3px 22px 3px rgba(104, 50, 146, 0.31);
  --shadow-read-more: 0px 3px 22px 3px rgba(248, 61, 142, 0.13);
  --shadow-product-card-container: inset 0px 2px 73px 2px rgba(0, 0, 0, 0.05);
  --font-family-primary: font-family: "Berkshire Swash", serif;
  --font-family-secondary: font-family: "Archivo", sans-serif;
  --footer-primary-text-color: #ffffff;
  --footer-secondary-text-color: #cfb6e2;
}
