* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */

:root {
  --brand-primary-color: #683292;
  --brand-secondary-color: #f83d8e;
  --text-primary-color: #0f0200;
  --text-primary-color-hover: #f83d8e;
  --text-secondary-color: #646464;
  --background-primary-color: linear-gradient(
    90deg,
    #f6e8f6 0%,
    #f7eef9 22%,
    #f8f6fb 42%,
    #f9fbfd 58%,
    #faf8f6 78%,
    #faf3ef 100%
  );
  --background-header-color: linear-gradient(
    90deg,
    #eee0ef 0%,
    #f0e6f2 25%,
    #f2edf5 50%,
    #f3f1f5 70%,
    #f5efeb 100%
  );
  --header-bottom-shadow: 0px 4px 20px rgba(104, 50, 146, 0.08);
  --button-primary-color: #683292;
  --button-secondary-color: #f83d8e;
  --button-primary-color-hover: #ffffff;
  --button-secondary-color-hover: ##ffffff;
  --icons-bg-color: #f3ebf7;
  --icons-bg-color-hover: #e2cfee;
  --footee-icons-bg-color: #ffffff26;
  --footer-icons-bg-color-hover: #ffffff1a;
  --shadow-sign-up: 0px 3px 16px 2px rgba(248, 61, 142, 0.24);
  --shadow-browse: 0px 3px 16px 2px rgba(104, 50, 146, 0.24);
  --shadow-read-more: 0px 3px 16px 2px rgba(248, 61, 142, 0.1);
  --shadow-product-card-container: inset 0px 2px 50px 2px rgba(0, 0, 0, 0.04);
  --font-family-primary: "Berkshire Swash", serif;
  --font-family-secondary: "Archivo", sans-serif;
  --footer-primary-text-color: #ffffff;
  --footer-secondary-text-color: #cfb6e2;
}

body {
  scroll-behavior: smooth;
  background: var(--background-header-color);
  background-attachment: fixed;
}

/* Style for the current/active page link */
.nav-container ul li .active {
  color: var(--text-primary-color-hover);
}

/* Header part */
header {
  background: var(--background-header-color);
  box-shadow: var(--header-bottom-shadow);
  /* margin-bottom: 40px; */
  position: sticky;
  top: 0px;
  z-index: 999;
}

/* navbar  */
header .navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
}

/* navbar logo anchor  */
.navbar .logo-container a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

/* navbar logo  */
.navbar .logo-container a img {
  width: 30%;
}

/* navbar logo text  */
.navbar .logo-container a span {
  font-family: var(--font-family-primary);
  font-size: 1.5rem;
}

.logo-container a span:nth-child(2) {
  color: var(--brand-secondary-color);
}
.logo-container a span:last-child {
  color: var(--brand-primary-color);
}

/* navbar navigation*/
.nav-links-button-container {
  display: flex;
  align-items: center;
}
.nav-container ul {
  display: flex;
  align-items: center;
}

.nav-container ul li {
  list-style: none;
}

.nav-container ul li a {
  text-decoration: none;
  padding: 0.8rem 1.5rem;
  font-family: var(--font-family-secondary);
  color: var(--text-primary-color);
  font-size: 0.8rem;
  transition: color 0.1s ease-in-out;
}

/* navigation hover  */
.nav-container ul li a:hover {
  color: var(--text-primary-color-hover);
}

/* navbar action container */
.action-container {
  display: flex;
  align-items: center;
}

.searct-cart-container {
  display: flex;
  margin: 0 30px 0 20px;
}

.search-icon,
.cart-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  transition: background-color 0.1s ease-in-out;
  cursor: pointer;
}

.signup .signup-btn {
  background-color: var(--brand-secondary-color);
  padding: 12px 34px;
  border-radius: 40px;
  font-family: var(--font-family-secondary);
  color: #ffffff;
  font-size: 0.8rem;
  font-weight: bold;
  border: 1.5px solid;
  box-shadow: var(--shadow-sign-up);
  transition: all 0.1s ease-in-out;
}

.signup .signup-btn i {
  padding-left: 12px;
}

/* navbar actions hover */
.search-icon:hover,
.cart-icon:hover {
  background-color: var(--icons-bg-color);
}

.signup .signup-btn:hover {
  background-color: #ffffff;
  color: var(--brand-secondary-color);
}

/* main  */
/* hero part */

.hero-section {
  padding-inline: 40px;
  padding-top: 40px;
  padding-bottom: 60px;
  background-image:
    url("Images/home-images/hero-left-image.png"),
    url("Images/home-images/hero-bottom-wave.png");
  background-repeat: no-repeat, no-repeat;
  background-size:
    min(15%, 300px) auto,
    100% auto;

  background-position:
    left top,
    center bottom;
}
.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

.section1-heading {
  display: flex;
  flex-direction: column;
}

.section1-heading h1 {
  font-family: var(--font-family-primary);
}

h1 .Small-welcome-text {
  font-size: 2rem;
  color: var(--text-primary-color);
  font-weight: 400;
}

.heading-text {
  font-size: 5rem;
  line-height: 4.75rem;
  color: var(--text-primary-color);
  font-weight: 400;
}

.heading-text span {
  color: var(--brand-secondary-color);
}

.Description-text {
  font-family: var(--font-family-secondary);
  font-size: 1rem;
  line-height: 1.3rem;
  color: var(--text-primary-color);
  margin: 15px 0;
}

.browse-button button {
  background-color: var(--brand-primary-color);
  padding: 14px 25px;
  border-radius: 40px;
  font-family: var(--font-family-secondary);
  color: #ffffff;
  font-size: 0.8rem;
  font-weight: 600;
  border: 1.5px solid;
  box-shadow: var(--shadow-browse);
  transition: all 0.1s ease-in-out;
}

.browse-button button i {
  padding-left: 12px;
}

.hero-container img {
  width: min(50vw, 500px);
}


/* main  */
/* best seller section  */

.best-product-section {
  background-color: #ffffff;
  padding-top: 70px;
}

/* heading text  */
.best-seller-container .section2-heading {
  text-align: center;
}
.best-seller-container .section2-heading  h2{
  font-family: var(--font-family-primary);
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 3.75rem;
  color: var(--text-primary-color);
}

.section2-heading  h2 span {
  color: var(--brand-secondary-color);
}
.best-seller-container .section2-heading  p {
  font-family: var(--font-family-secondary);
  font-size: 0.9rem;
  color: var(--text-secondary-color);

}